<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crimsonlogic.ecommerce.dao.CustomerMapper">


    <!-- ===================================================== -->
    <!-- CUSTOMER RESULT MAP -->
    <!-- ===================================================== -->

    <resultMap id="customerResultMap"
               type="com.crimsonlogic.ecommerce.model.Customer">

        <id property="userId"
            column="user_id"/>

        <result property="userName"
                column="user_name"/>

        <result property="userEmail"
                column="user_email"/>

        <result property="userPhNo"
                column="user_phone"/>

        <result property="userPassword"
                column="user_password"/>

        <result property="walletBalance"
                column="wallet_balance"/>

    </resultMap>


    <!-- ===================================================== -->
    <!-- ADDRESS RESULT MAP -->
    <!-- ===================================================== -->

    <resultMap id="addressResultMap"
               type="com.crimsonlogic.ecommerce.model.Address">

        <id property="addressId"
            column="address_id"/>

        <result property="houseNumber"
                column="house_number"/>

        <result property="street"
                column="street"/>

        <result property="city"
                column="city"/>

        <result property="state"
                column="state"/>

        <result property="country"
                column="country"/>

        <result property="zipCode"
                column="zip_code"/>

    </resultMap>


    <!-- ===================================================== -->
    <!-- INSERT CUSTOMER -->
    <!-- ===================================================== -->

    <insert id="insertCustomer"
            parameterType="com.crimsonlogic.ecommerce.model.Customer">

        INSERT INTO customers
        (
            user_id,
            user_name,
            user_email,
            user_phone,
            user_password,
            wallet_balance
        )
        VALUES
        (
            #{userId},
            #{userName},
            #{userEmail},
            #{userPhNo},
            #{userPassword},
            #{walletBalance}
        )

    </insert>


    <!-- ===================================================== -->
    <!-- UPDATE CUSTOMER -->
    <!-- ===================================================== -->

    <update id="updateCustomer"
            parameterType="com.crimsonlogic.ecommerce.model.Customer">

        UPDATE customers

        SET
            user_name = #{userName},
            user_email = #{userEmail},
            user_phone = #{userPhNo},
            user_password = #{userPassword}

        WHERE user_id = #{userId}

    </update>


    <!-- ===================================================== -->
    <!-- UPDATE PASSWORD -->
    <!-- ===================================================== -->

    <update id="updatePassword">

        UPDATE customers

        SET user_password = #{userPassword}

        WHERE user_id = #{userId}

    </update>


    <!-- ===================================================== -->
    <!-- UPDATE WALLET -->
    <!-- ===================================================== -->

    <update id="updateWalletBalance">

        UPDATE customers

        SET wallet_balance = #{walletBalance}

        WHERE user_id = #{customerId}

    </update>


    <!-- ===================================================== -->
    <!-- DELETE CUSTOMER -->
    <!-- ===================================================== -->

    <delete id="deleteCustomer">

        DELETE FROM customers

        WHERE user_id = #{customerId}

    </delete>


    <!-- ===================================================== -->
    <!-- FIND CUSTOMER BY ID -->
    <!-- ===================================================== -->

    <select id="findCustomerById"
            resultMap="customerResultMap">

        SELECT
            c.user_id,
            c.user_name,
            c.user_email,
            c.user_phone,
            c.user_password,
            c.wallet_balance

        FROM customers c

        WHERE c.user_id = #{customerId}

    </select>


    <!-- ===================================================== -->
    <!-- FIND CUSTOMER BY EMAIL -->
    <!-- ===================================================== -->

    <select id="findCustomerByEmail"
            resultMap="customerResultMap">

        SELECT
            c.user_id,
            c.user_name,
            c.user_email,
            c.user_phone,
            c.user_password,
            c.wallet_balance

        FROM customers c

        WHERE c.user_email = #{email}

    </select>


    <!-- ===================================================== -->
    <!-- FIND CUSTOMER BY PHONE -->
    <!-- ===================================================== -->

    <select id="findCustomerByPhone"
            resultMap="customerResultMap">

        SELECT
            c.user_id,
            c.user_name,
            c.user_email,
            c.user_phone,
            c.user_password,
            c.wallet_balance

        FROM customers c

        WHERE c.user_phone = #{phone}

    </select>


    <!-- ===================================================== -->
    <!-- FIND ALL CUSTOMERS -->
    <!-- ===================================================== -->

    <select id="findAllCustomers"
            resultMap="customerResultMap">

        SELECT
            c.user_id,
            c.user_name,
            c.user_email,
            c.user_phone,
            c.user_password,
            c.wallet_balance

        FROM customers c

        ORDER BY c.user_name

    </select>


    <!-- ===================================================== -->
    <!-- ASSIGN ADDRESS TO CUSTOMER -->
    <!-- ===================================================== -->

    <insert id="assignAddressToCustomer">

        INSERT INTO customer_address
        (
            customer_id,
            address_id
        )
        VALUES
        (
            #{customerId},
            #{addressId}
        )

    </insert>


    <!-- ===================================================== -->
    <!-- REMOVE ADDRESS FROM CUSTOMER -->
    <!-- ===================================================== -->

    <delete id="removeAddressFromCustomer">

        DELETE FROM customer_address

        WHERE customer_id = #{customerId}

        AND address_id = #{addressId}

    </delete>


    <!-- ===================================================== -->
    <!-- REMOVE ALL CUSTOMER ADDRESSES -->
    <!-- ===================================================== -->

    <delete id="removeAllAddressesFromCustomer">

        DELETE FROM customer_address

        WHERE customer_id = #{customerId}

    </delete>


    <!-- ===================================================== -->
    <!-- FIND ADDRESSES OF CUSTOMER -->
    <!-- ===================================================== -->

    <select id="findAddressesByCustomer"
            resultMap="addressResultMap">

        SELECT
            a.address_id,
            a.house_number,
            a.street,
            a.city,
            a.state,
            a.country,
            a.zip_code

        FROM address a

        INNER JOIN customer_address ca
            ON a.address_id = ca.address_id

        WHERE ca.customer_id = #{customerId}

        ORDER BY a.city, a.state

    </select>


</mapper>